*{

    margin:0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #3f3f3f;
    padding: 10px 60px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.392);
    z-index: 3;
    height: 15vh;
   
}

header > img{

    max-width: 100%;
    display: block;
}

header > div#user{

    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    
}

header > div#user > p{

    color:#FFE500;
    font-weight:bold;
    font-size:2em;
}

header nav ul{

    display: flex;
    padding-top: 15px;

}

header nav ul li{

    margin-left: 5px;
    list-style-type: none;
    padding: 10px 15px;
    padding-top: 20px;
}

header nav ul li a{

    color:#FBF5B7;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
}

header nav ul li a:hover{

    color:#FF661B;
    padding: 0px 20px;
    font-size: 1.3em;
}


header nav ul li.select{

    padding:17px;
    padding-top:14px;
    padding-left:0
  }
  
  header nav ul li.select select{
  
    font-size: 1.1em;
    outline:none;
    background: linear-gradient(to right, #008443, #004120);
    border-radius: 10px;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.472);
    height:30px;
    border:none;
    color:#FBF5B7;
    font-weight: bold;
      padding:0px;
  }
  
  header nav ul li.select select option{
  
    background:#3f3f3f;
  
  }

header > nav #menuToggle{

    display:none;
}

header > nav .menu-icon{

    display: none;
}


main > article#bem-vindo{

    display: flex;
    justify-content: center;
    align-items: center;
    background: url(./../assets/fundo-bem_vindo.png);
    background-position: left center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 130vh;
    z-index: 2;

}

main > article#bem-vindo > div#fundo-trans{

    margin: 0;
    background-color: rgba(255, 255, 255, 0.6);
    width: 55%;
    height: 40%;
    padding: 30px;
    padding-top:70px;
    box-shadow: 10px 15px 20px rgba(0, 0, 0, 0.607);
}

main > article#bem-vindo > div#fundo-trans > h1{

    color:#FF661B;
    margin: 0px;
    font-size: 3.5em;
    font-weight:bolder;
    width:350px
}

main > article#bem-vindo > div#fundo-trans > h3{

    color:#008745;
    font-weight: 600;
    width: 70%;
    font-size: 1.5em;
    margin-top: 10px;
}

main > article#secao-busca{

    background: #3f3f3f;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 1;
    bottom:83px;
    padding-top: 200px;
    height: 55vh;

}


main > article#secao-busca > h1{

    color:#FFB039;
    font-size: 2.3em;
    width: 40%;
    margin: 0 auto;
    margin-bottom: 40px;
}

main > article#secao-busca > input#pesquisar{

    background-color: white;
    border-radius: 10px;
    width: 30vw;
    height: 45px;

    padding-left: 20px;
    color:#437A5F;
    box-shadow: 3px 2px 3px #FFB039;
    border-color: transparent;
    margin-right: 20px;
}

::placeholder{

    color:#008746ad;
}

main > article#secao-busca > button{

    width: 50px;
    height: 50px;
    padding:10px;
    position: relative;
    border-radius: 30px;
    top:7px;
    background-color: white;
    border-color: transparent;
    background-image: linear-gradient(rgba(228, 255, 193, 1), rgba(251, 245, 183, 1));
}

main > article#secao-busca > button:hover{

    background-color: #FFB039;
    background-image: none;
    box-shadow: 0px 0px 20px white;
}

main > article#ongs{

    z-index: 0;
 
}

main > article#ongs > div.ong{

    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: 0 auto;
    padding-bottom: 70px;

}

main > article#ongs > div.ong > img{

    padding-left: 50px;
    height: 300px;
 
}

main > article#ongs > div.ong > img#direita{
  
    padding-right: 40px;
}

main > article#ongs > div.ong > div.info-ong{

    width: 80vw;
    flex: 1 1 250px;
}

main > article#ongs > div.ong > div.info-ong > h3{

    text-align: center;
    color:#437A5F;
    padding-bottom: 20px;
    font-size: 1.6em;
}

main > article#ongs > div.ong > div.info-ong > ul > li{

    line-height: 30px;
    text-align: justify;
    margin: 0 30px;
    list-style-type: none;
}

main > article#ongs > div.ong > div.info-ong > ul > li > span.destaque{

    color:#FF661B;
    font-weight: bold;
    text-transform: uppercase;
}

main > article#ongs > div.ong > div.info-ong > a button{

    width: 170px;
    height: 45px; 
    margin-top:50px;
    margin-left: 170px;
    background: linear-gradient(to right, #008443, #004120);
    border-radius: 30px;
    font-weight:bold;
    font-size:1em;
    border: 0;
    outline: none;
    cursor: pointer;
    color:#FFE500;
    
   
}

main > article#ongs > div.ong > div.info-ong > a button:hover{

    background: linear-gradient(to right, #FFE500, #FF661B);
    color:#3f3f3f;
}

main > article#ongs > p#naoEncontrado{

    color:#161413;
    font-weight: bold;
    text-align: center;
    font-size: 1.4em;
    
}

aside#parallax{

    background: url(./../assets/parallax.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 50vh;
    box-shadow: inset 6px 6px 13px 10px black;

}

aside#parallax > h2{

    color:#E4FFC1;
    font-weight: bolder;
    padding-top: 150px;
    text-align: center;
    margin: 0px;
}

footer{

    background-image: url(./../assets/footer.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;

    margin: 0;
    padding: 0;
    margin-right: 0;
}


footer div#contatos ul {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    margin: 0;
    margin-left: 40px;
    padding: 0;   
}

footer div#contatos ul li{

    text-align: center;
    list-style-type: none;
    padding: 10ps 15px;
    margin-right: 30px;

}

footer div#contatos ul li a, footer p{

    font-size: 1.3em;
    color:#FBF5B7;
    font-weight: bold;
    text-decoration: none;
  

}

footer div#contatos ul li a:hover{

    color:#FF661B
}

footer > img{

    max-width: 100%; 
    padding-top: 20px;

    margin: 0;
    padding: 0;
   
}