@media screen and (max-width:600px) {

    *{
        margin:0;
        padding: 0;
    }
    
    header{

        position: fixed;
        top:0px;
        width:100%;
        margin:0px;
        padding: 10px 0px;
        height: 13vh;
    }

    header > img{

        max-width: 90%;
    }

    header > nav .menu-icon{

        display: block;
        color:#FF661B;
        width:50px;
        height: inherit;
        position: absolute;
        top:30px;
        right:30px;
        line-height: 60px;
        z-index: 999;
    }

    header > nav .menu-icon{

        font-size: 1.7em;
    }

    header nav ul{

        display: flex;
        flex-wrap: wrap;
        position: fixed;
        align-content: center;
        top:0px;
        left:0px;
        width: 100%;
        height: 0%;
        background-color: #e4ffc1c0;
        overflow: hidden;
        padding: 0;
        transition: height 0.3s;
    }

    header nav ul li{

        display: block;
        width: 100%;
        margin-left: 0px;
        margin-bottom: 20px;
    }

    header nav ul li a{

        display: block;
        text-align: center;
        width: 100%;
        color: #3f3f3f;
        font-weight: bolder;
    }

    header nav ul li a:hover{

        background-color: #3f3f3f;
        box-shadow: 0px 0px 2px 2px black;
    }

    #menuToggle:checked ~ label i:nth-child(2){

        display: block;
    }

    #menuToggle:not(:checked) ~ label i:nth-child(2){

        display: none;
    }

    #menuToggle:checked ~ label i:first-child{

        display: none;
    }

    #menuToggle:not(:checked) ~ label i:first-child{

        display: block;
    }

    #menuToggle:checked ~ ul{
        height: 100%;
    }

    main > article#bem-vindo{

        position: relative;
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        top:80px;
        margin: 0px;
        padding: 0px;
        height: 59vh;

        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        
    }

    main > article#bem-vindo > div#fundo-trans{

        margin: 0;
        margin-top: 50px;
        width: 75%;
        height: 25vh;
        padding-top:20px ;
       
    }

    main > article#bem-vindo > div#fundo-trans > h1{
     
        font-size: 2em;
        width:200px
    }

    main > article#bem-vindo > div#fundo-trans > h3{

        font-size: 1em;
        width: 75%;

    }

    main > article#secao-busca{

      
        height: 35vh;

    }

    main > article#secao-busca > h1{

        font-size: 1.5em;
        width: 80%;
    }

    main > article#secao-busca > input#pesquisar{

        width: 55vw;
        height: 30px;
    }

    main > article#ongs{

        margin: 0px;
        padding: 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    main > article#ongs > div.ong {

        display: block;
        padding: 0px;
        bottom: 50px;
        position: relative;
        margin: 0;
        width: 80vw;
    }

    main > article#ongs > div.ong > img{

       display: none;
      
    }

    main > article#ongs > div.ong > div.info-ong{

        text-align:center
    }

    main > article#ongs > div.ong > div.info-ong > ul{

        padding-left: 0px;
        text-align: justify;
     
    }

    main > article#ongs > div.ong > div.info-ong > a button{

        margin: 0 auto;
        padding: auto;
        margin-bottom: 60px;
        margin-top: 40px;
       
        
    }

    aside#parallax{

        height: 30%;
        background-size:cover; 
        background-repeat: no-repeat;
        background-position: center center;
        margin: 0px;
     
    }

    aside#parallax > h2{

        padding: 70px;
        font-size: 1.5em;
    }

    footer{

        margin: 0px;
        margin-top: 200px;
        margin-bottom: 0px;
        padding: 0px;
        height: 50vh;
    }

    footer div#contatos{

        padding-top: 50px;
    }
    footer div#contatos > ul{

        padding-top: 0px;
        margin: 0px; 
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-right: 15px;
    }

    footer div#contatos ul li{
        padding-top: 15px;
        margin-right: 10px;
    }
    
    footer div#contatos ul li a, footer p{

        font-size: 0.8em;       
        margin-bottom: 0px;
         
    }

    footer > img{

        max-width: 40%;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }

    footer > p{

        padding-top:0px;
    }
}

@media screen and (min-width:601px) and (max-width:768px){

    header{

        position: fixed;
        top:0px;
        width: 100%;
        margin: 0px;
        padding-bottom: 0;
        margin-bottom: 0;
        padding-left: 0;

    }

    header > nav .menu-icon{

        display: block;
        color:#FF661B;
        width:50px;
        height:inherit;
        position: absolute;
        top:30px;
        right: 120px;
        line-height: 60px;
        z-index: 999;
    }

    header > nav .menu-icon{

        font-size: 1.7em;
    }

    header nav ul{

        display:flex;
        flex-wrap:wrap;
        position: fixed;
        align-content: center;
        top:0px;
        left: 0px;
        width: 100%;
        height: 0%;
        background-color: #e4ffc1c0;
        overflow: hidden;
        padding: 0;
        margin-bottom: 0;

        transition: height 0.3s;
    }

    header nav ul li{

        display: block;
        width: 100%;
        margin-left: 0px;
        margin-bottom: 20px;
    }

    header  nav ul li a{

        display: block;
        text-align: center;
        width: 100%;
        color:#3f3f3f;
        font-weight: bolder;
    }

    header nav ul li a:hover{

        background-color: #3f3f3f;
        box-shadow: 0px 0px 2px 2px black;
    }

    #menuToggle:checked ~ label i:nth-child(2){

        display: block;
    }

    #menuToggle:not(:checked) ~ label i:nth-child(2){

        display: none;
    }

    #menuToggle:checked ~ label i:first-child{

        display: none;
    }

    #menuToggle:not(:checked) ~ label i:first-child{

        display: block;
    }

    #menuToggle:checked ~ ul{

        height: 100%;
    }


    main > article#bem-vindo{

        position: relative;
        display: flex;   
        top:80px;
        margin-right: 0px;
        height: 500px;
        width:100%;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat; 
    }

    main > article#bem-vindo > div#fundo-trans{

        margin: 0 auto;
        margin-top: 50px;
        width: 75%;
        height: 50%;
        padding-top: 20px;
    }

    main article#bem-vindo > div#fundo-trans > h1{
        width:250px;
        font-size: 2.2em;
    }

    main > article#bem-vindo > div#fundo-trans > h3{

        font-size: 1em;
        width: 70%;
    }

    main > article#secao-busca{

        height: 300px;
    }

    main > article#secao-busca > h1{

        font-size: 1.8em;
        width: 80%;
    }

    main > article#secao-busca > input#pesquisar{

        width:55vw;
    }

    main > article#ongs{

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        margin:0px;
        padding:0px
    }

    main > article#ongs > div.ong{

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        padding:0px;
        bottom:50px;
        position: relative;
    }

    main > article#ongs > div.ong > img{

        display: none;
    }

    main > article#ongs > div.ong > div.info-ong{

        text-align: center;
    }

    main > article#ongs > div.ong > div.info-ong > a button{

        margin: 50px 0;
       
    }

    aside#parallax{

        height: 30vh;
        background-size: cover;
        background-position: center center;
        margin:0px
    }

    aside#parallax > h2{

        padding: 70px;
    }

    footer{

        margin: 0px;
        margin-top: 200px;
        padding: 0px;
        height: 400px;
    }

    footer div#contatos > ul{

        margin: 0px;
        padding-top: 120px;
       
    }

    footer div#contatos ul li a, footer p{

        font-size: 1.2em;       
       
    }
}

@media screen and (min-width:769px) and (max-width:900px) {
    
    header{

        position:fixed;
        top:0px;
        width:100%;
        margin:0px;
        padding-left: 0;
    }

    main > article#bem-vindo{

        position: relative;
        display: flex;
        top:80px;
        margin-right: 0px;
        height: 500px;
        width:100%;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    main > article#bem-vindo > div#fundo-trans{

        margin: 0 auto;
        width: 75%;
        height: 40%;
        padding-top: 40px;
    }

    main > article#bem-vindo  > div#fundo-trans > h1{

        font-size: 2.5em;
        width: 250px;
    }

    main > article#bem-vindo  > div#fundo-trans > h3{

        font-size: 1.1em;
        width: 300px;
    }

    main > article#secao-busca {

        height: 360px;
    }
    main > article#secao-busca > h1{

        width: 70%;
    }

    main > article#secao-busca > input#pesquisar{

        width: 55vw
    }

    main > article#ongs{

        margin:0px;
        padding:0px;
    }

    main > article#ongs > div.ong{

        display: block;
        margin: 0 auto;
        padding: 0px;
        bottom:50px;
        position: relative;
        margin-top: 50px;
    }

    main > article#ongs > div.ong > img{

        display: none;
        
    }

    main > article#ongs > div.ong > div.info-ong{

        text-align: center;
    }

    main > article#ongs > div.ong > div.info-ong > a button{

        margin: 40px auto;
        padding: auto;
        margin-bottom: 100px;
        
    }

    aside#parallax{

        height: 35vh;
        background-size: cover;
        background-position: center center;
        margin: 0px;
    }

    aside#parallax > h2{

        
        padding: 100px;
    }

    footer{

        margin: 0px;
        margin-top: 200px;
        padding: 0px;
        height: 400px
    }

    footer div#contatos > ul{

        margin: 0px;
        padding-top: 80px;
       margin-left: 40px;
    }

    footer div#contatos ul li a, footer p{

        font-size: 1em;      
        padding-top: 0px; 
       
    }

    footer > img{

        padding-bottom: 0px;
        margin-bottom: 0px;
        max-height: 60%;
    }
}

@media screen and (min-width:901px) and (max-width: 1000px) {
    
    header{

        position: fixed;
        top:0px;
        width:100%;
        margin:0px;
        padding-left: 0;

    }

    main > article#bem-vindo{

        position: relative;
        display: flex;
        top:80px;
        margin-right: 0px;
        height:700px;
        width: 100%;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    main > article#bem-vindo > div#fundo-trans{

        margin: 0 auto;
        margin-top: 120px;
        width: 75%;
        height:280px;
        padding-top: 50px;
    }

    main > article#bem-vindo > div#fundo-trans > h1{

        font-size: 3em;
    }

    main > article#bem-vindo > div#fundo-trans > h3{

        font-size: 1.4em;
    }

    main > article#secao-busca{
        height: 500px;

    }
    main > article#secao-busca > h1{
       
        padding-top: 20px;
        width:50%;
    }

    main > article#secao-busca > input#pesquisar{

        width:45vw
    }

    main > article#ongs{

        margin:0px;
        padding: 0px;
    }

    main > article#ongs > div.ong{

       
        margin:0 auto;
        padding: 0px;
        bottom:50px;
        position: relative;
        margin-top: 100px;
    }

    main > article#ongs > div.ong > img{

      display: none;
    }

    main > article#ongs > div.ong > div.info-ong{
        
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    main > article#ongs > div.ong > div.info-ong > a button{

        margin-left: 0;
        margin-top: 40px;

    }

    aside#parallax{

        height: 35vh;
        background-size: cover;
        background-position: center center;
        margin:0px
    }

    aside#parallax > h2{

        padding: 110px;
    }

    footer{

        margin: 0px;
        margin-top: 200px;
        padding: 0px;
        height: 450px;
    }

    footer div#contatos > ul{

        margin: 0px;
        padding-top: 120px;
        margin-left: 40px;
        justify-content: center;
    }

    footer div#contatos ul li a, footer p{

        font-size: 1.2em;       
       
    }
}

@media screen and (min-width:1001px) and (max-width:1365px){

    main > article#bem-vindo{

        position: relative;
        display: flex;
        margin-right: 0px;
        height: 132vh;
        width: 100%;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    main > article#bem-vindo > div#fundo-trans{

        margin: 0 auto;
        margin-top: 120px;
        width: 75%;
        height: 45%;
        padding: 0px;
        padding-top: 50px;
        padding-left: 50px;
    }

    main > article#bem-vindo > div#fundo-trans > h1{

        font-size: 3.1em;
    }

    main > article#bem-vindo > div#fundo-trans > h3{

        font-size: 1.3em;
        width: 270px;
    }

    main > article#secao-busca > h1{

        width: 50%;
        font-size: 2.5em;
    }

    main > article#secao-busca > input#pesquisar{

        width:55vw;
    }

    main > article#ongs > div.ong {

        display: flex;
        flex-wrap: wrap;
        width: 90vw;
    }

    main > article#ongs > div.ong > div.info-ong > a button{

     
        margin-top: 40px;
        margin-bottom: 40px;
       
   
    }

    main > article#ongs > div.ong > img{

       flex: 1 1 100px;
    }

    aside#parallax{

        height: 50%;
        background-size: cover;
        background-position: center center;
        margin: 0px;
    }

    aside#parallax > h2{

        padding: 130px;
    }

    footer{

        margin: 0px;
        margin-top: 200px;
        padding: 0px;
        height: 100vh;
    }

    footer div#contatos > ul{

        margin: 0px;
        margin-right: 75px;
        padding-top: 120px;
        justify-content: center;
    }

    footer div#contatos ul li a, footer p{

        font-size: 1.2em;       
       
    }
}
    